body
    font-family 'SourceSansPro-Regular'
    font-size 20px
    line-height: 26px
    color Ink
    .small
        font-size 18px
    .smallest
        font-size 16px   
h1,h2,h3,h4,h5
    font-family 'SourceSansPro-SemiBold'
    text-align: left 
h1 
    font-size 42px
    line-height: 50px
h2  
    font-size 36px
    line-height: 40px
h3 
    font-size 30px
    line-height: 36px
h4 
    font-size 26px
    line-height: 30px
h5 
    font-size 24px
    line-height: 28px
a
    color Blue
    &:active
        color Blue
    &:hover
        color Blue    
.flex
    display flex 
.row
    flex-direction row
.column
    flex-direction column    