    White = #FFFFFF
    darkWhite = #fcfcfd
    darkerWhite = #f5f4f6
    darkestWhite  = #EBEAED
    mostDarkestWhite= #DEDCE1

    Ink = #170c3a
    lightInk = #8f8a9b
    lighterInk = #B1ADB9

    Blue = #365df0
    lightBlue = #9aaef7
    lighterBlue = #b9c6fa

    Green = #12db89

    Red = #f95e5a
    mostLightestRed = #FEEFEE
