
@font-face
    font-family 'SourceSansPro-Regular'
    src url('../fonts/SourceSansPro-Regular.ttf')

@font-face 
    font-family 'SourceSansPro-SemiBold' ;
    src url('../fonts/SourceSansPro-SemiBold.ttf');
  